footer {
    display: block;
    max-width: 1200px;
    margin: 25px auto;
    padding: 25px;
    border-top: 1px solid lightgray;
}

.image-in-article {
    width: 100%;
}

.image-in-article img, video.image-in-article {
    display: block;
    width: 70%;
    margin: 24px auto;
    
}

@media screen and (max-width: 1000px) {
    .image-in-article img, video.image-in-article {
        width: 100%;
    }
}